# Set the default syntax highlighting for text files
*.txt linguist-language=AdBlock linguist-detectable

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
